{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %} {{ twitter_user.twitter_handle }} {% endblock %}
{% block content %}

    <h1>{{ twitter_user.twitter_handle }} <img src="{{ twitter_user.twitter_handle_avatar}}" alt="Avatar"></h1>
    <a href="{% url 'submit_handle'%}">
        Submit a new user
    </a>

    <table class="table">
      <thead>
          <tr>
            <th>Type</th>
            <th>Content</th>
            <th>Link to post</th>
          </tr>
      </thead>
      <tbody>
      {% for post in posts %}
        <tr>
            <td>{{ post.twitter_post_type }}</td>
            <td>{{ post.twitter_text }}</td>
            <td>{{ post.twitter_post_to_link }}</td>
        </tr>
      {% endfor %}
      </tbody>

{% endblock %}
