{% load bootstrap5 %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
{% if user.is_authenticated %}
<body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">CommandCenter</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Platforms
            </a>
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit">Log Out</button>
            </form>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'showalltweets' %}">X</a></li>
              <li><a class="dropdown-item" href="{% url 'show_all_artists' %}">Spotify</a></li>
              <li><a class="dropdown-item" href="#">LeagueOfLegends</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Status</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    {% bootstrap_messages %}
    <div id="content">
        {% block content%}
        {% endblock %}
    </div>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
</body>
</html>
