{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}
    <h1>Available Tweets</h1>
    <a href="{% url 'submit_handle'%}">
    Submit a new user
    </a>
    <table class="table">
    <thead>
        <tr>
          <th>Handle</th>
          <th>Name</th>
          <th>UserID</th>
          <th>Avatar</th>
        </tr>
    </thead>
    <tbody>
    {% for tweet in alltweets %}
    <tr>
        <td><a href="{% url 'twitter_handle_summary' tweet.twitter_handle %}">
        {{ tweet.twitter_handle}}
        </a></td>
        <br>
        <td>{{ tweet.twitter_name}}</td>
        <td>{{ tweet.twitter_user_id}}</td>
        <td><img src="{{ tweet.twitter_handle_avatar}}" alt="Avatar"></td>
    </tr>
    {% endfor %}
</tbody>
{% endblock %}
