{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}Command Center{% endblock %}
<body>
    <div id="content">
        {% block content%}
        <a href="{% url 'showalltweets'%}">
            X Dashboard
        </a>
        <br>
        <a href="{% url 'show_all_artists'%}">
            Spotify Dashboard
        </a>
        <br>
        <a href="{% url 'show_all_artists'%}">
            League of Legends Dashboards (TBD)
        </a>
        {% endblock %}
    </div>
</body>
</html>